.admin-panel-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Extended width */
  height: 100px;
  height: -webkit-fill-available;
  padding: 20px;
  border-right: 2px solid #4e4c4c;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add this line */

  align-items: center;
}


.logout-button {
  width: 100%;
  text-align: center;
  margin-top: auto; /* Ensures the button is at the bottom */
}

.logout-button button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: initial;
  border: none;
  background-color: bisque;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.logout-button button:hover {
  background-color: cornflowerblue;
  color: black;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: white;
}

.sidebar input {
  width: 209px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: initial;
  border-radius: 5px;
  background-color: rgb(231, 231, 230);
  transition: background-color 0.3s ease;

}

.button-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.button-group button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: initial;
  border: none;
  background-color: bisque;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.button-group button:hover{
  background-color:cornflowerblue;
  color: black;
}
.saving-page button{
  
  gap: 10px;
  padding: 10px;
  width:208px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: initial;
  border: none;
  background-color: bisque;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.saving-page button:hover{
  background-color: cornflowerblue;
  color: black;
}

.back-page-button button{
  width: 208px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: initial;
  border: none;
  background-color: bisque;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;

}
.back-page-button button:hover{
  background-color:cornflowerblue;
  color:black;
}
.edit-pages button {
  width: 208px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: initial;
  border: none;
  background-color:bisque;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.edit-pages button:hover {
  background-color:cornflowerblue;
  color: black;
}

.back-page button{
  background-color: bisque;
  color: black;
  width: 208px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: initial;
  transition: background-color 0.3s ease-in-out;
}
.back-page button:hover{
  background-color: cornflowerblue;
  color: black;
}
.page-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}


.page-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 7px;
}

.page-list span {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
}

.page-list .edit-delete-buttons {
  display: flex;
  gap: 10px;
}

.page-list-button button {
  padding: 5px 10px;
  border: none;
  color: rgb(10, 10, 10);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: initial;
  margin-right: 1rem;
  background-color:lightgoldenrodyellow;
}

.edit-button button:hover {
  transition: background-color 0.3s ease;
  background-color:forestgreen ;
  color: white ;
}

.delete-button button:hover {
  transition: background-color 0.3s ease;
  background-color: #c82333;
  color: white;
}
.view-button button:hover {
  transition: background-color 0.3s ease;
  background-color: green;
  color: white;
}
.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.content h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* login */
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.auth-container h2 {
  padding-bottom: 15px;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  margin: 10px auto;
}

.auth-form button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}


.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.auth-container h2{ padding-bottom: 15px;     text-align: center;}
.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  margin: 10px auto;
}

.auth-form button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
.error{ color: #ff0000; margin-bottom: 10px;}